<!--script async src="https://umami.weiyan.cc/script.js" data-website-id="b713abc7-f5eb-4683-a132-9fda53e29198"></script-->
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"3JIbgFniDcGIaNP7",ck:"3JIbgFniDcGIaNP7",autoTrack:true})</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?1fba0e6a7ed69deed32888598e265504";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7f981f5ee794a0a30fcf54d7e6091e43";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9171857677256450" crossorigin="anonymous"></script>
<!--51.la for ShenWY.com-->
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({id:"3NbMm3QVsUgUUxCd",ck:"3NbMm3QVsUgUUxCd"})</script>
