site_dir: "site"
site_url: https://materialx.shenwy.com/
site_name: 维燕的数字花园
site_description: '记录 Bio+IT 相关知识，沉淀生活，记录点滴。'

# Docs 
docs_dir: "docs"

# Repository
repo_name: Digital-Garden
repo_url: https://github.com/shenweiyan/materialx-demo/
edit_uri: edit/main/docs/
site_author: Steven Shum

# Copyright
copyright: 版权所有

theme:
  name: materialx
  language: zh
  custom_dir: overrides
  favicon: assets/logo.ico
  logo: assets/octocat.png
  font:
    text: "'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif"
    code: "Consolas,Courier,courier new,stkaiti,kaiti,simkai,monospace"
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.top
    - navigation.sections
    - navigation.path         
    - content.action.edit
    - content.action.view
    - content.code.copy
    - navigation.footer
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/theme-light-dark
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/theme-light-dark
        name: Switch to light mode
    
markdown_extensions:
    - admonition
    - pymdownx.details
    - md_in_html
    - pymdownx.superfences
    - pymdownx.tabbed:
        alternate_style: true
    - smarty
    - toc:
        permalink: True
        separator: "-"
        toc_depth: 5
        slugify: !!python/object/apply:pymdownx.slugs.slugify
            kwds:
                case: lower
    - pymdownx.highlight
    - pymdownx.arithmatex:
        generic: true

plugins:
  - rss:
      enabled: True
      image: https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Feed-icon.svg/128px-Feed-icon.svg.png
      pretty_print: True
      length: 1000
      date_from_meta:
          as_creation: "date"
          as_update: "date"
      abstract_chars_count: -1
      match_path: "(blog/posts|flinks|message|note|tech/posts|topic|yuque)/.*"
      feeds_filenames:
          rss_created: rss.xml
  - glightbox:
      auto_caption: false    
      caption_position: bottom
  - search:
      lang:
          - en
          - zh
  - document-dates:
      position: top            # 显示位置: top(标题后) bottom(文档末尾)
      type: date               # 时间类型: date datetime timeago, 默认：date
      exclude:                 # 排除文件列表
        - index.md
        - tech/*
        - blog/*       # 排除指定文件
      date_format: '%Y-%m-%d'  # 日期格式化字符串，例如：%Y年%m月%d日、%b %d, %Y
      time_format: '%H:%M:%S'  # 时间格式化字符串（仅在 type=datetime 时有效）
      show_author: true        # 作者显示模式: true(头像) text(文本) false(隐藏)
      recently-updated: true   # 是否开启最近更新的数据，默认：false
  - awesome-nav
  - blog:
      blog_dir: blog
      post_dir: "{blog}/posts"
      archive: false
      categories: true
      pagination: true
      pagination_per_page: 10
      post_url_date_format: ""
      pagination_if_single_page: true
  - blog:
      blog_dir: tech
      archive: false
      post_dir: "{blog}/posts"
      categories: true
      pagination: true
      pagination_per_page: 10
      post_url_date_format: ""
      pagination_if_single_page: true
  - tags:
      listings: true


hooks:
  - hooks.py
  - meta_slugs.py
      
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/shenweiyan
      name: GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/weiyanshum
      name: Twitter      
    - icon: fontawesome/brands/mastodon
      link: https://genomic.social/@weiyanshum
      name: Mastodon
  analytics:
    provider: custom
    property: foobar

extra_css:
  - css/extra.css

extra_javascript:
    - js/mathjax.js
    - https://cdnjs.cloudflare.com/ajax/libs/js-polyfills/0.1.43/polyfill.min.js
    - https://cdn.bootcss.com/mathjax/3.0.5/es5/tex-mml-chtml.js      
